* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.booking-banner {
  background-image: url("https://images.unsplash.com/photo-1436491865332-7a61a109cc05?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
}

.booking-form {
  background-color: #ffffff;
}

.return-oneWay-nav {
  background-color: #f5f5f5;
  width: fit-content;
  padding: 5px 6px;
  border-radius: 6px;
}

.nav-link {
  padding: 4px 16px;
  font-size: 14px;
  color: #3c3c3c;
}

.return-oneWay-nav .nav-link.active {
  background-color: #ffffff;
  color: #f2007d;
  font-weight: 700;
}

.booking-input-container {
  position: relative;
  width: 100%;
}

.booking-input-container > label {
  position: absolute;
  top: 4px;
  left: 10px;
  color: rgb(116, 116, 124);
}

.booking-input-container > label + input {
  border-radius: 6px;
  background-color: #f5f5f5;
  border: none;
  outline: none;
  padding: 27px 10px 8px 10px;
}

input#roundTripStartInput {
  border-radius: 6px 0 0 6px;
}

input#roundTripEndInput {
  border-radius: 0 6px 6px 0;
}

:where(#destination-values, #departure-values) ul {
  top: 100% !important;
  border: none !important;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 5px 23px -11px rgba(0, 0, 0, 0.75);
}

.destination-item > img {
  width: 36px;
  height: 36px;
  padding: 7px;
  background-color: #f5f5f5;
}

.destination-item > span {
  white-space: nowrap;
}

.destination-item {
  gap: 18px;
}

:where(#destination-values, #departure-values) .ui-widget-content {
  padding: 10px;
}

:where(#destination-values, #departure-values) .ui-state-active,
:where(#destination-values, #departure-values) .ui-widget-content .ui-state-active,
:where(#destination-values, #departure-values) .ui-widget-header .ui-state-active,
:where(#destination-values, #departure-values) a.ui-button:active,
:where(#destination-values, #departure-values) .ui-button:active,
.ui-button.ui-state-active:hover {
  border: none;
  background: #f5f5f5;
  color: #000000;
  border-radius: 6px;
}

:where(#destination-values, #departure-values) .ui-state-active.destination-item > img {
  background-color: #ffffff;
}

.submit-btn {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: #f2007d;
  display: grid;
  place-items: center;
  border-radius: 6px;
}

.submit-btn > img {
  width: 32px;
  filter: invert(1);
}

.adult-count-counter button {
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  border: none;
  outline: none;
  border-radius: 100%;
}

.adult-count-counter {
  gap: 10px;
}

.adult-count-container {
  min-width: 230px;
}

.adult-count-counter span {
  width: 20px;
  display: grid;
  place-items: center;
}

.adult-count-dropdown {
  border: none;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0px 5px 23px -11px rgba(0, 0, 0, 0.75);
}

.text-overflow-css {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.bookingCalender > div {
  top: 100% !important;
  border: none;
  box-shadow: 0px 5px 23px -11px rgba(0, 0, 0, 0.75);
  margin-top: 0;
  border-radius: 6px;
}

.bookingCalender > div:before,
.bookingCalender > div::after {
  display: none;
}
.bookingCalender .daterangepicker td.in-range {
  background-color: #fff3f8;
}
.bookingCalender .daterangepicker td.active,
.bookingCalender .daterangepicker td.active:hover {
  background-color: #f2007d;
}

.date-apply-btn {
  border-radius: 3px;
  padding: 6px 9px;
  box-shadow: none;
  outline: none;
}
.applyBtn.date-apply-btn {
  background-color: #f2007d !important;
  border-color: #f2007d;
}
.cancelBtn.date-apply-btn {
  background-color: #f5f5f5 !important;
  border-color: #f5f5f5;
}

@media (min-width: 1200px) {
  .return-oneWay-nav .nav-link:hover {
    color: #f2007d;
  }
}

@media (min-width: 992px) {
  .bookingCalender.range {
    width: 484px;
  }
  input#departure {
    border-radius: 6px 0 0 6px;
  }

  input#destination {
    border-radius: 0 6px 6px 0;
  }
}
@media (max-width: 992px) {
  .bookingCalender > div {
    position: fixed !important;
    inset: auto 0 0 0 !important;
    width: 100%;
  }
  .bookingCalender .daterangepicker .drp-calendar.left,
  .bookingCalender .daterangepicker .drp-calendar.right {
    margin: auto;
    max-width: 100%;
    width: 50%;
  }
  form#bookingForm > .row > div:not(:last-child) {
    margin-bottom: 14px;
  }

  .submit-btn {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    gap: 10px;
    color: white;
  }
  .bookingCalender .daterangepicker .calendar-table th,
  .bookingCalender .daterangepicker .calendar-table td {
    line-height: 34px !important;
    font-size: 16px !important;
  }
  .adult-count-dropdown {
    position: fixed !important;
    inset: auto 0 0 0 !important;
    transform: none !important;
  }

  button#btn-close {
    margin-left: auto;
    display: block;
    border: none;
    outline: none;
    padding: 7px 30px;
    background-color: #f2007d;
    color: white;
    font-size: 1.3rem;
    border-radius: 6px;
  }

  .adult-count-container {
    font-size: 1.6rem;
  }
}

@media (max-width: 576px) {
  .bookingCalender .daterangepicker .drp-calendar.left,
  .bookingCalender .daterangepicker .drp-calendar.right {
    width: 100%;
  }
  .bookingCalender .daterangepicker .calendar-table th,
  .bookingCalender .daterangepicker .calendar-table td {
    line-height: 34px !important;
    font-size: 12px !important;
  }
}
